HolidayReservationSystem/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CategoryNotFoundException" type="tns:CategoryNotFoundException"/>

<xs:element name="CustomerNotFoundException" type="tns:CustomerNotFoundException"/>

<xs:element name="InputDataValidationException" type="tns:InputDataValidationException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="ModelNotFoundException" type="tns:ModelNotFoundException"/>

<xs:element name="OutletNotFoundException" type="tns:OutletNotFoundException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="RentalRateNotFoundException" type="tns:RentalRateNotFoundException"/>

<xs:element name="RentalReservationNotFoundException" type="tns:RentalReservationNotFoundException"/>

<xs:element name="calculateTotalRentalFee" type="tns:calculateTotalRentalFee"/>

<xs:element name="calculateTotalRentalFeeResponse" type="tns:calculateTotalRentalFeeResponse"/>

<xs:element name="cancelReservation" type="tns:cancelReservation"/>

<xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"/>

<xs:element name="createNewCustomer" type="tns:createNewCustomer"/>

<xs:element name="createNewCustomerResponse" type="tns:createNewCustomerResponse"/>

<xs:element name="createNewPartner" type="tns:createNewPartner"/>

<xs:element name="createNewPartnerRentalReservation" type="tns:createNewPartnerRentalReservation"/>

<xs:element name="createNewPartnerRentalReservationResponse" type="tns:createNewPartnerRentalReservationResponse"/>

<xs:element name="createNewPartnerResponse" type="tns:createNewPartnerResponse"/>

<xs:element name="createNewRentalReservation" type="tns:createNewRentalReservation"/>

<xs:element name="createNewRentalReservationResponse" type="tns:createNewRentalReservationResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="retrieveAllCarCategories" type="tns:retrieveAllCarCategories"/>

<xs:element name="retrieveAllCarCategoriesResponse" type="tns:retrieveAllCarCategoriesResponse"/>

<xs:element name="retrieveAllModels" type="tns:retrieveAllModels"/>

<xs:element name="retrieveAllModelsResponse" type="tns:retrieveAllModelsResponse"/>

<xs:element name="retrieveAllOutlets" type="tns:retrieveAllOutlets"/>

<xs:element name="retrieveAllOutletsResponse" type="tns:retrieveAllOutletsResponse"/>

<xs:element name="retrieveAllRentalReservations" type="tns:retrieveAllRentalReservations"/>

<xs:element name="retrieveAllRentalReservationsResponse" type="tns:retrieveAllRentalReservationsResponse"/>

<xs:element name="retrieveCategoryByCategoryId" type="tns:retrieveCategoryByCategoryId"/>

<xs:element name="retrieveCategoryByCategoryIdResponse" type="tns:retrieveCategoryByCategoryIdResponse"/>

<xs:element name="retrieveModelByModelId" type="tns:retrieveModelByModelId"/>

<xs:element name="retrieveModelByModelIdResponse" type="tns:retrieveModelByModelIdResponse"/>

<xs:element name="retrieveOutletByOutletId" type="tns:retrieveOutletByOutletId"/>

<xs:element name="retrieveOutletByOutletIdResponse" type="tns:retrieveOutletByOutletIdResponse"/>

<xs:element name="retrievePartnerByPartnerId" type="tns:retrievePartnerByPartnerId"/>

<xs:element name="retrievePartnerByPartnerIdResponse" type="tns:retrievePartnerByPartnerIdResponse"/>

<xs:element name="retrievePartnerRentalReservations" type="tns:retrievePartnerRentalReservations"/>

<xs:element name="retrievePartnerRentalReservationsResponse" type="tns:retrievePartnerRentalReservationsResponse"/>

<xs:element name="retrieveRentalReservationByRentalReservationId" type="tns:retrieveRentalReservationByRentalReservationId"/>

<xs:element name="retrieveRentalReservationByRentalReservationIdResponse" type="tns:retrieveRentalReservationByRentalReservationIdResponse"/>

<xs:element name="searchCarByCategory" type="tns:searchCarByCategory"/>

<xs:element name="searchCarByCategoryResponse" type="tns:searchCarByCategoryResponse"/>

<xs:element name="searchCarByModel" type="tns:searchCarByModel"/>

<xs:element name="searchCarByModelResponse" type="tns:searchCarByModelResponse"/>

<xs:complexType name="createNewRentalReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
<xs:element name="arg5" type="tns:rentalReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalReservation">
<xs:sequence>
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean"/>
<xs:element name="isComplete" type="xs:boolean"/>
<xs:element name="isPicked" type="xs:boolean"/>
<xs:element name="paid" type="xs:boolean"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="rentalReservationId" type="xs:long" minOccurs="0"/>
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewRentalReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OutletNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CustomerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InputDataValidationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CategoryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModelNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RentalReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByCategory">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePartnerRentalReservations">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePartnerRentalReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:rentalReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllOutlets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="closingHour" type="xs:dateTime" minOccurs="0"/>
<xs:element name="openingHour" type="xs:dateTime" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
<xs:element name="outletName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewPartner">
<xs:sequence>
<xs:element name="arg0" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewPartnerResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllModels">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllModelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:model" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="model">
<xs:sequence>
<xs:element name="isDisabled" type="xs:boolean"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveOutletByOutletId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveOutletByOutletIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCarCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCarCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCategoryByCategoryId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCategoryByCategoryIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRentalReservationByRentalReservationId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRentalReservationByRentalReservationIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rentalReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByModel">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByModelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalRentalFee">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalRentalFeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RentalRateNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveModelByModelId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveModelByModelIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:model" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllRentalReservations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRentalReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:rentalReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rentalReservations" type="tns:rentalReservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePartnerByPartnerId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePartnerByPartnerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewPartnerRentalReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
<xs:element name="arg5" type="xs:long" minOccurs="0"/>
<xs:element name="arg6" type="tns:rentalReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewPartnerRentalReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>