HolidayReservationSystem/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="searchCarByModel">
<part name="parameters" element="tns:searchCarByModel"/>
</message>
<message name="searchCarByModelResponse">
<part name="parameters" element="tns:searchCarByModelResponse"/>
</message>
<message name="CategoryNotFoundException">
<part name="fault" element="tns:CategoryNotFoundException"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="ModelNotFoundException">
<part name="fault" element="tns:ModelNotFoundException"/>
</message>
<message name="createNewPartner">
<part name="parameters" element="tns:createNewPartner"/>
</message>
<message name="createNewPartnerResponse">
<part name="parameters" element="tns:createNewPartnerResponse"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="calculateTotalRentalFee">
<part name="parameters" element="tns:calculateTotalRentalFee"/>
</message>
<message name="calculateTotalRentalFeeResponse">
<part name="parameters" element="tns:calculateTotalRentalFeeResponse"/>
</message>
<message name="RentalRateNotFoundException">
<part name="fault" element="tns:RentalRateNotFoundException"/>
</message>
<message name="retrieveModelByModelId">
<part name="parameters" element="tns:retrieveModelByModelId"/>
</message>
<message name="retrieveModelByModelIdResponse">
<part name="parameters" element="tns:retrieveModelByModelIdResponse"/>
</message>
<message name="retrieveAllModels">
<part name="parameters" element="tns:retrieveAllModels"/>
</message>
<message name="retrieveAllModelsResponse">
<part name="parameters" element="tns:retrieveAllModelsResponse"/>
</message>
<message name="createNewCustomer">
<part name="parameters" element="tns:createNewCustomer"/>
</message>
<message name="createNewCustomerResponse">
<part name="parameters" element="tns:createNewCustomerResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="createNewRentalReservation">
<part name="parameters" element="tns:createNewRentalReservation"/>
</message>
<message name="createNewRentalReservationResponse">
<part name="parameters" element="tns:createNewRentalReservationResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="retrieveCategoryByCategoryId">
<part name="parameters" element="tns:retrieveCategoryByCategoryId"/>
</message>
<message name="retrieveCategoryByCategoryIdResponse">
<part name="parameters" element="tns:retrieveCategoryByCategoryIdResponse"/>
</message>
<message name="searchCarByCategory">
<part name="parameters" element="tns:searchCarByCategory"/>
</message>
<message name="searchCarByCategoryResponse">
<part name="parameters" element="tns:searchCarByCategoryResponse"/>
</message>
<message name="retrieveAllRentalReservations">
<part name="parameters" element="tns:retrieveAllRentalReservations"/>
</message>
<message name="retrieveAllRentalReservationsResponse">
<part name="parameters" element="tns:retrieveAllRentalReservationsResponse"/>
</message>
<message name="retrieveOutletByOutletId">
<part name="parameters" element="tns:retrieveOutletByOutletId"/>
</message>
<message name="retrieveOutletByOutletIdResponse">
<part name="parameters" element="tns:retrieveOutletByOutletIdResponse"/>
</message>
<message name="retrievePartnerByPartnerId">
<part name="parameters" element="tns:retrievePartnerByPartnerId"/>
</message>
<message name="retrievePartnerByPartnerIdResponse">
<part name="parameters" element="tns:retrievePartnerByPartnerIdResponse"/>
</message>
<message name="retrieveAllCarCategories">
<part name="parameters" element="tns:retrieveAllCarCategories"/>
</message>
<message name="retrieveAllCarCategoriesResponse">
<part name="parameters" element="tns:retrieveAllCarCategoriesResponse"/>
</message>
<message name="retrieveAllOutlets">
<part name="parameters" element="tns:retrieveAllOutlets"/>
</message>
<message name="retrieveAllOutletsResponse">
<part name="parameters" element="tns:retrieveAllOutletsResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="RentalReservationNotFoundException">
<part name="fault" element="tns:RentalReservationNotFoundException"/>
</message>
<message name="retrieveRentalReservationByRentalReservationId">
<part name="parameters" element="tns:retrieveRentalReservationByRentalReservationId"/>
</message>
<message name="retrieveRentalReservationByRentalReservationIdResponse">
<part name="parameters" element="tns:retrieveRentalReservationByRentalReservationIdResponse"/>
</message>
<message name="retrievePartnerRentalReservations">
<part name="parameters" element="tns:retrievePartnerRentalReservations"/>
</message>
<message name="retrievePartnerRentalReservationsResponse">
<part name="parameters" element="tns:retrievePartnerRentalReservationsResponse"/>
</message>
<message name="createNewPartnerRentalReservation">
<part name="parameters" element="tns:createNewPartnerRentalReservation"/>
</message>
<message name="createNewPartnerRentalReservationResponse">
<part name="parameters" element="tns:createNewPartnerRentalReservationResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="searchCarByModel">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByModelRequest" message="tns:searchCarByModel"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByModelResponse" message="tns:searchCarByModelResponse"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByModel/Fault/CategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByModel/Fault/OutletNotFoundException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByModel/Fault/ModelNotFoundException"/>
</operation>
<operation name="createNewPartner">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRequest" message="tns:createNewPartner"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerResponse" message="tns:createNewPartnerResponse"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartner/Fault/InputDataValidationException"/>
</operation>
<operation name="calculateTotalRentalFee">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/calculateTotalRentalFeeRequest" message="tns:calculateTotalRentalFee"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/calculateTotalRentalFeeResponse" message="tns:calculateTotalRentalFeeResponse"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/calculateTotalRentalFee/Fault/CategoryNotFoundException"/>
<fault message="tns:RentalRateNotFoundException" name="RentalRateNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/calculateTotalRentalFee/Fault/RentalRateNotFoundException"/>
</operation>
<operation name="retrieveModelByModelId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveModelByModelIdRequest" message="tns:retrieveModelByModelId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveModelByModelIdResponse" message="tns:retrieveModelByModelIdResponse"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveModelByModelId/Fault/ModelNotFoundException"/>
</operation>
<operation name="retrieveAllModels">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllModelsRequest" message="tns:retrieveAllModels"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllModelsResponse" message="tns:retrieveAllModelsResponse"/>
</operation>
<operation name="createNewCustomer">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewCustomerRequest" message="tns:createNewCustomer"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewCustomerResponse" message="tns:createNewCustomerResponse"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewCustomer/Fault/InputDataValidationException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewCustomer/Fault/PartnerNotFoundException"/>
</operation>
<operation name="createNewRentalReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservationRequest" message="tns:createNewRentalReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservationResponse" message="tns:createNewRentalReservationResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservation/Fault/OutletNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservation/Fault/CustomerNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservation/Fault/InputDataValidationException"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservation/Fault/CategoryNotFoundException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewRentalReservation/Fault/ModelNotFoundException"/>
</operation>
<operation name="retrieveCategoryByCategoryId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveCategoryByCategoryIdRequest" message="tns:retrieveCategoryByCategoryId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveCategoryByCategoryIdResponse" message="tns:retrieveCategoryByCategoryIdResponse"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveCategoryByCategoryId/Fault/CategoryNotFoundException"/>
</operation>
<operation name="searchCarByCategory">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByCategoryRequest" message="tns:searchCarByCategory"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByCategoryResponse" message="tns:searchCarByCategoryResponse"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByCategory/Fault/CategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/searchCarByCategory/Fault/OutletNotFoundException"/>
</operation>
<operation name="retrieveAllRentalReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllRentalReservationsRequest" message="tns:retrieveAllRentalReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllRentalReservationsResponse" message="tns:retrieveAllRentalReservationsResponse"/>
</operation>
<operation name="retrieveOutletByOutletId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveOutletByOutletIdRequest" message="tns:retrieveOutletByOutletId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveOutletByOutletIdResponse" message="tns:retrieveOutletByOutletIdResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveOutletByOutletId/Fault/OutletNotFoundException"/>
</operation>
<operation name="retrievePartnerByPartnerId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerByPartnerIdRequest" message="tns:retrievePartnerByPartnerId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerByPartnerIdResponse" message="tns:retrievePartnerByPartnerIdResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerByPartnerId/Fault/PartnerNotFoundException"/>
</operation>
<operation name="retrieveAllCarCategories">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllCarCategoriesRequest" message="tns:retrieveAllCarCategories"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllCarCategoriesResponse" message="tns:retrieveAllCarCategoriesResponse"/>
</operation>
<operation name="retrieveAllOutlets">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllOutletsRequest" message="tns:retrieveAllOutlets"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllOutletsResponse" message="tns:retrieveAllOutletsResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
<fault message="tns:RentalReservationNotFoundException" name="RentalReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/cancelReservation/Fault/RentalReservationNotFoundException"/>
</operation>
<operation name="retrieveRentalReservationByRentalReservationId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveRentalReservationByRentalReservationIdRequest" message="tns:retrieveRentalReservationByRentalReservationId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveRentalReservationByRentalReservationIdResponse" message="tns:retrieveRentalReservationByRentalReservationIdResponse"/>
<fault message="tns:RentalReservationNotFoundException" name="RentalReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveRentalReservationByRentalReservationId/Fault/RentalReservationNotFoundException"/>
</operation>
<operation name="retrievePartnerRentalReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerRentalReservationsRequest" message="tns:retrievePartnerRentalReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerRentalReservationsResponse" message="tns:retrievePartnerRentalReservationsResponse"/>
</operation>
<operation name="createNewPartnerRentalReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservationRequest" message="tns:createNewPartnerRentalReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservationResponse" message="tns:createNewPartnerRentalReservationResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservation/Fault/OutletNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservation/Fault/CustomerNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservation/Fault/InputDataValidationException"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservation/Fault/CategoryNotFoundException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservation/Fault/ModelNotFoundException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewPartnerRentalReservation/Fault/PartnerNotFoundException"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="calculateTotalRentalFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
<fault name="RentalRateNotFoundException">
<soap:fault name="RentalRateNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveModelByModelId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllModels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewRentalReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCategoryByCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllRentalReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveOutletByOutletId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllCarCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllOutlets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalReservationNotFoundException">
<soap:fault name="RentalReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRentalReservationByRentalReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalReservationNotFoundException">
<soap:fault name="RentalReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerRentalReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewPartnerRentalReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>